<!-- <div class="bottom-nav RTMB">
    <ul class="bottom-nav__tabBar displaynone">
        <li><button type="button" class="btnNav eNavFold"><i aria-hidden="true" class="icon icoNav"></i>네비게이션</button></li>
        <li><button type="button" class="btnSearch eSearch">@import(/svg/icon-search.html)검색</button></li>
        <li><a href="/">@import(/svg/icon-home.html)홈</a></li>
        <li module="Layout_stateLogon"><a href="/order/basket.html">@import(/svg/icon-cart.html)Cart <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a></li>
        <li module="Layout_stateLogoff"><a href="/order/basket.html">@import(/svg/icon-cart.html)Cart <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a></li>
        <li><a href="/myshop/index.html">@import(/svg/icon-user.html)마이쇼핑</a></li>
    </ul>
    <div class="bottom-nav__top">
        <a href="#wrap" title="화면 최상단으로 이동하기"><i aria-hidden="true" class="icon icoDirectionTop"></i><span></span></a>
    </div>
</div> -->

<footer>
  <div class="inner">
    <div class="onBox">
      <div class="onBoxWrap">
        <div class="onBoxTitle"><h3>Support</h3></div>
        <div class="flexBox">
          <ul class="leftBox">
            <li>
              <a href="/article/q-a/6/10820/">세탁 및 취급 시 주의사항</a>
            </li>
            <li>
              <a href="/article/q-a/6/10821/page/1/">배송 및 교환/반품 안내</a>
            </li>
            <li>
              <a href="/board/frequently/list.html?board_no=3"
                >자주 묻는 질문</a
              >
            </li>
            <li><a href="/board/free/list.html?board_no=6">문의하기</a></li>
          </ul>
          <ul class="rightBox">
            <li><a href="/member/agreement.html">이용약관</a></li>
            <li><a href="/member/privacy.html">개인정보처리방침</a></li>
            <li><a href="/shopinfo/guide.html">이용안내</a></li>
          </ul>
        </div>
      </div>
      <div class="onBoxWrap">
        <div class="onBoxTitle"><h3>Brand</h3></div>
        <div class="flexBox">
          <ul class="leftBox">
            <li>
              <a href="https://mcncustom.com/" target="_blank">엠씨엔커스텀</a>
            </li>
            <li>
              <a href="https://mecenat.co.kr/" target="_blank">메세나</a>
            </li>
            <li>
              <a href="https://mcnfit.co.kr/" target="_blank">엠씨엔핏</a>
            </li>
          </ul>
          <ul class="rightBox">
            <li>
              <a href="https://mcnorder.com/" target="_blank">B2B mall</a>
            </li>
            <li>
              <a href="https://mcnfishing.com/" target="_blank">엠씨엔피싱</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="onBoxWrap">
        <div class="onBoxTitle"><h3>Contact & Bank Info</h3></div>
        <div class="flexBox">
          <ul class="leftBox">
            <li>
              <a href="tel: 1566-8657" class="contactNum">1566-8657</a>
            </li>
            <li>
              <a href="javascript:void(0)">평일 오전 9시 ~ 오후 6시</a>
            </li>
            <li>
              <a href="javascript:void(0)">점심 오후 1시 ~ 오후 2시</a>
            </li>
            <li>
              <a href="javascript:void(0)">(토 / 일 / 공휴일 휴무)</a>
            </li>
            <li><a href="javascript:void(0)">※ 광고대행사 연락 금지</a></li>
          </ul>
          <ul class="rightBox">
            <li><a href="javascript:void(0)">국민 634901-04-139078</a></li>
            <li><a href="javascript:void(0)">농협 719-02-278772</a></li>
            <li><a href="javascript:void(0)">예금주 : 황재웅</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="underBox">
      <div class="underBoxWrap">
        <div class="companyInfo" module="Layout_footer">
          <p>
            COMPANY : {$company_name} OWNER : {$president_name}<br />
            BUSINESS LICENSE : {$company_regno} 통신판매업 신고 :
            {$network_regno} <span>{$biz_no_link}</span><br />
            TEL : {$phone} FAX : {$fax} ADDRESS : {$mall_zipcode} {$mall_addr1}
            {$mall_addr2}<br />
            CPO : {$cpo_name}({$cpo_email})<br />
          </p>
          <p class="copyright">
            Copyright © 2017 MCNSPORTS. All rights reserved.
          </p>
        </div>
        <div class="sns">
          <div class="snsTitle"><h3>SNS</h3></div>
          <ul class="snsBox">
            <li>
              <a href="https://www.facebook.com/mcnsportss" target="_blank"
                ><i class="xi-facebook-official"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/mcnsports/" target="_blank"
                ><i class="xi-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://blog.naver.com/jwhwng" target="_blank"
                ><i class="xi-blogger"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCr8U69d1H43DE5VucJsaotw/featured"
                target="_blank"
                ><i class="xi-youtube-play"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="postWrap">
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="post">
        <a href="https://parcel.epost.go.kr/auth.EpostLogin.parcel" target="_blank">
            <img src="/web/img/22_mcn_renewal_img/main/postoffice.jpg" alt="우체국이미지" />
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- <div module="Layout_multishopShipping">
    @css(/layout/basic/css/ec-base-layer.css)
    @css(/css/module/layout/multishopShipping.css)
    @js(/js/module/layout/multishopShipping.js)
    <div class="worldshipLayer ec-base-layer typeModal">
        <div class="header">
            <h3>WORLD SHIPPING</h3>
        </div>
        <div class="content">
            <p class="desc">PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :</p>
            <select module="Layout_multishopShippingCountrylist">
                <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
                <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
            </select>
            <select module="Layout_multishopShippingLanguagelist">
                <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
                <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
            </select>
        </div>
        <div class="ec-base-button">
            <a href="#none" class="btnSubmitFix sizeM">GO</a>
        </div>
        <a href="#none" class="btnClose">닫기</a>
    </div>
</div>

<div id="layoutDimmed" class="dimmed"></div> -->
