<div class="navigation">
  <!--@css(/css/module/layout/category.css)-->
  <nav>
    <ul class="gnb">
      <li class="firstCate">
        <div class="firstCateText">
          <a href="/men.html">남성</a>
        </div>
        <div class="secWrapBox">
          <ul class="secCate">
            <li><a href="/category/Men/289/">Men</a></li>
            <li><a href="/category/셋업/290/">셋업</a></li>
            <li><a href="/category/신상품/291/">신상품</a></li>
            <li><a href="/category/신상품/296/">베스트</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/의류/292/">의류</a></li>
            <li><a href="/category/탑&져지/297/">탑 & 져지</a></li>
            <li><a href="/category/팬츠&타이즈/298/">팬츠 & 타이즈</a></li>
            <li><a href="/category/바람막이&자켓/299/">바람막이 & 자켓</a></li>
            <li><a href="/category/언더레이어/300/">언더레이어</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/용품/293/">용품</a></li>
            <li><a href="/category/모자&헤어밴드/301/">모자 & 헤어밴드</a></li>
            <li><a href="/category/마스크/302/">마스크</a></li>
            <li><a href="/category/가방/303/">가방</a></li>
            <li><a href="/category/토시/304/">토시</a></li>
            <li><a href="/category/장갑/305/">장갑</a></li>
            <li><a href="/category/양말/306/">양말</a></li>
            <li><a href="/category/기타/307/">기타</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/스포츠/294/">스포츠</a></li>
            <li><a href="/category/사이클/308/">사이클</a></li>
            <li><a href="/category/헬스&컴프레션/309/">헬스 & 컴프레션</a></li>
            <li><a href="/category/낚시/310/">낚시</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/브랜드/295/">브랜드</a></li>
            <li><a href="/category/MCNSPORTS/311/">MCN SPORTS</a></li>
            <li><a href="/category/MCNFIT/312/">MCN FIT</a></li>
            <li><a href="/category/MCNFISHING/313/">MCN FISHING</a></li>
          </ul>
          <div class="modelImg">
            <a href="/category/남성/284/">
              <img
                src="https://via.placeholder.com/278x341/000/fff"
                alt="남자모델이미지"
              />
            </a>
          </div>
        </div>
      </li>
      <li class="firstCate">
        <div class="firstCateText">
          <a href="/women.html">여성</a>
        </div>
        <div class="secWrapBox">
          <ul class="secCate">
            <li><a href="/category/여성/314/">Women</a></li>
            <li><a href="/category/셋업/319/">셋업</a></li>
            <li><a href="/category/신상품/320/">신상품</a></li>
            <li><a href="/category/베스트/321/">베스트</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/의류/315/">의류</a></li>
            <li><a href="/category/래쉬가드/322/">래쉬가드</a></li>
            <li><a href="/category/스포츠브라/323/">스포츠 브라</a></li>
            <li><a href="/category/탑&져지/324/">탑 & 져지</a></li>
            <li><a href="/category/팬츠&타이즈/325/">팬츠 & 타이즈</a></li>
            <li><a href="/category/바람막이&자켓/326/">바람막이 & 자켓</a></li>
            <li><a href="/category/언더레이어/327/">언더레이어</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/용품/316/">용품</a></li>
            <li><a href="/category/모자&헤어밴드/328/">모자 & 헤어밴드</a></li>
            <li><a href="/category/마스크/329/">마스크</a></li>
            <li><a href="/category/가방/330/">가방</a></li>
            <li><a href="/category/토시/331/">토시</a></li>
            <li><a href="/category/장갑/332/">장갑</a></li>
            <li><a href="/category/양말/333/">양말</a></li>
            <li><a href="/category/기타/334/">기타</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/스포츠/317/">스포츠</a></li>
            <li><a href="/category/사이클/335/">사이클</a></li>
            <li><a href="/category/수상스포츠/336/">수상 스포츠</a></li>
            <li><a href="/category/요가&애슬레저/337/">요가 & 애슬레저</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/브랜드/318/">브랜드</a></li>
            <li><a href="/category/MCNSPORTS/338/">MCN SPORTS</a></li>
            <li><a href="/category/MECENAT/339/">MECENAT</a></li>
          </ul>
          <div class="modelImg">
            <a href="/category/여성/285/">
              <img
                src="https://via.placeholder.com/278x341/000/fff"
                alt="여자모델이미지"
              />
            </a>
          </div>
        </div>
      </li>
      <li class="firstCate">
        <div class="firstCateText">
          <a href="/sports.html">스포츠</a>
        </div>
        <div class="secWrapBox">
          <ul class="secCate">
            <li><a href="/category/사이클/340/">사이클</a></li>
            <li><a href="/category/셋업/345/">셋업</a></li>
            <li><a href="/category/바람막이&자켓/346/">바람막이 & 자켓</a></li>
            <li><a href="/category/져지/347/">져지</a></li>
            <li><a href="/category/팬츠&빕/348/">팬츠 & 빕</a></li>
            <li><a href="/category/언더레이어/349/">언더레이어</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/헬스&컴프레션/341">헬스 & 컴프레션</a></li>
            <li><a href="/category/셋업/350/">셋업</a></li>
            <li><a href="/category/탑&티셔츠/351/">탑 & 티셔츠</a></li>
            <li><a href="/category/팬츠&타이즈/352/">팬츠 & 타이즈</a></li>
            <li><a href="/category/언더레이어/353/">언더레이어</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/낚시/342/">낚시</a></li>
            <li><a href="/category/셋업/354/">셋업</a></li>
            <li><a href="/category/져지&티셔츠/355/">져지 & 티셔츠</a></li>
            <li><a href="/category/바람막이&자켓/356/">바람막이 & 자켓</a></li>
            <li><a href="/category/팬츠&타이즈/357/">팬츠 & 타이즈</a></li>
            <li><a href="/category/언더레이어/358/">언더레이어</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/수상스포츠/343/">수상스포츠</a></li>
            <li><a href="/category/셋업/359/">셋업</a></li>
            <li><a href="/category/아우터/360/">아우터</a></li>
            <li><a href="/category/상의/361/">상의</a></li>
            <li><a href="/category/하의/362/">하의</a></li>
          </ul>
          <ul class="secCate">
            <li><a href="/category/요가&애슬레저/344/">요가 & 애슬레저</a></li>
            <li><a href="/category/셋업/363/">셋업</a></li>
            <li><a href="/category/스포츠브라/364/">스포츠 브라</a></li>
            <li><a href="/category/레깅스/365/">레깅스</a></li>
          </ul>
          <div class="modelImg">
            <a href="/category/스포츠/286/">
              <img
                src="https://via.placeholder.com/278x341/000/fff"
                alt="스포츠모델이미지"
              />
            </a>
          </div>
        </div>
      </li>
      <li class="firstCate">
        <a href="/board/gallery/list.html?board_no=8">이벤트</a>
      </li>
      <li class="firstCate">
        <a href="/board/free/list.html?board_no=1">커뮤니티</a>
      </li>
    </ul>
  </nav>
</div>

<div class="topBtn">
  <i class="xi-angle-up"></i>
</div>
