@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: #2e2e2e;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}
img,
fieldset {
  border: none;
  vertical-align: top;
}
img {
  max-width: 100%;
}
table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
caption {
  display: none;
}
th,
td {
  border: 0;
  vertical-align: top;
}

hr.layout {
  display: none;
}

a {
  text-decoration: none;
}

.objHidden {
  visibility: hidden;
  position: absolute;
  left: -1000px;
  top: -1000px;
  height: 0;
  width: 0;
}

#content_CONTAINER table,
#bi_inquire_content_CONTAINER table {
  border: 0;
  margin: 0 0 -1px;
}
#content_CONTAINER table:before,
#bi_inquire_content_CONTAINER table:before {
  display: none;
}
#content_CONTAINER td,
#bi_inquire_content_CONTAINER td {
  width: auto !important;
  padding: 0;
}

#progressPaybarBackground {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=40);
  opacity: 0.3;
  background-color: #000;
}
#progressPaybarView {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
#progressPaybarView h3 {
  font-size: 32px;
  color: #444b59;
}
#progressPaybarView .box {
  width: 586px;
  margin: 0 auto;
  padding: 67px 0;
  text-align: center;
  background: #fff;
}
#progressPaybarView .box .txt {
  margin: 8px 0 36px;
  font-size: 15px;
  line-height: 26px;
  color: #667084;
}

#skipNavigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 0;
}
#skipNavigation p,
#skipNavigation ul,
#skipNavigation ul li {
  height: 0;
}
#skipNavigation p a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-left: -1px;
  margin-bottom: -1px;
  text-align: center;
  color: #000;
  white-space: nowrap;
}
#skipNavigation p a:focus,
#skipNavigation p a:hover,
#skipNavigation p a:active {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: #c4122f;
  color: #fff;
  z-index: 100;
}

.displaynone {
  display: none;
}

.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  text-indent: -150%;
  white-space: nowrap;
}

:root {
  --primary-color: #58b88c;

  --big-font: 2.5vw;
  --normal-font: 20px;
  --small-font: 14px;
  --title-font: 40px;
  --bold-font: 700;
  --sec-font-color: #a7a7a7;
  --white-color: #fff;
}
